{{ include('base.html.twig') }}

<body>
  <div class='container'>

    <h1>Rock Paper Scissors</h1>
    <p>To begin Player 1's turn, press the button below!</p>


    <a href="/player-one"><button type="submit">Start Game!</button></a>


  </div>
</body>
