{{ include('base.html.twig') }}

<body>
  <div class='container'>

    <header>
      <h1>Results</h1>
    </header>

    <p>{{ results }} WON!</p>


    <a href='/'><button type='button' class='btn btn-success'>Home</button></a>


  </div>
</body>
